html,
body {
  height: 100%;
  font-size: 16px;
  font-family: "Cubano-Regular";
  background: url(../img/treesPattern.png) center center;
}

.heading,
.under-heading {
  text-align: center;
}

/* FONT FACES */
@font-face {
  font-family: "Cubano-Regular";
  src: local("Cubano-Regular.ttf"), url("Cubano-Regular.ttf") format(truetype);
}

@font-face {
  font-family: "Nunito-Regular";
  src: local("Nunito-Regular.ttf"), url("Nunito-Regular.ttf") format(truetype);
}

/* BUTTONS */
.btn-lg,
.btn-outline-success {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgb(19, 128, 26, 1);
  font-family: "Nunito-Regular";
  transition: 0.5s;
}

.btn-lg:hover,
.btn-lg:focus,
.btn-lg:active,
.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success:active {
  background-color: rgb(19, 128, 26, 1);
  border: 1px solid rgb(19, 128, 26, 0);
  transition: 0.5s;
}

.btn-search {
  margin-left: 10px !important;
}

.fa-arrow-down {
  margin: 50px 0 0 40rem;
  font-size: 2.5rem;
  color: white;
  transition: 0.5s;
}

.fa-arrow-down:hover {
  color: rgb(19, 128, 26, 0.5);
  transition: 0.5s;
}

.parallax-btn {
  width: 200px;
  margin: 30px auto 0 auto;
}

#contact #submit {
  font-weight: bolder;
}

/* SPANS */
.bold-green {
  color: rgb(19, 128, 26, 1);
}

.green-underline {
  border-bottom: 1px solid rgb(19, 128, 26, 1);
}

/* NAVBAR */
#main-nav {
  font-family: "Nunito-Regular";
}

.navbar-brand {
  font-family: "Cubano-Regular";
  padding-right: 15px;
}

#main-nav li a {
  color: white;
  border-bottom: 1px solid transparent;
  transition: 0.5s;
}

#main-nav li a:hover {
  border-bottom: 1px solid green;
  transition: 0.5s;
}

/** SECTIONS **/

/* COVER */
#cover {
  height: 100%;
  background: url(../img/treesBackground.jpg) center;
  background-size: cover;
  color: white;
}

.wall-sticker {
  background: rgb(0, 0, 0, 0.5);
  padding: 5rem 18rem 5rem 3rem;
  font-family: "Cubano-Regular";
  font-size: 5rem;
  color: white;
}

.motto {
  font-family: "Cubano-Regular";
  font-size: 4rem;
  margin: 200px 0 0 200px;
  text-align: center;
}

/* FEATURES */
.section-features {
  padding: 5rem 0;
  background: url(../img/treesPattern.png) center center;
}

.section-features .col-sm-3 {
  text-align: center;
}

.section-features .col-sm-3 > i,
.section-features .col-sm-3 > svg {
  margin-top: 5rem;
  margin-bottom: 1rem;
  transition: 0.5s;
}

.section-features .col-sm-3 > i:hover,
.section-features .col-sm-3 > svg:hover {
  color: rgb(19, 128, 26, 1);
  transition: 0.5s;
}

.section-features .col-sm-3 > p {
  padding-top: 1rem;
  font-family: "Nunito-Regular";
  font-size: 1rem;
}

.section-features .col-sm-3 > hr {
  border-top: 1px solid rgb(19, 128, 26, 1);
  width: 150px;
  background-color: rgb(19, 128, 26, 1);
}

/* TIMELINE */
.section-timeline {
  background-color: white;
  padding: 5rem;
}

.timeline {
  list-style: none;
  padding: 20px 0 80px;
  padding-top: 50px;
  position: relative;
}

.timeline::before {
  top: 0;
  bottom: 0;
  left: 50%;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: gray;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li::before,
.timeline > li::after {
  content: "";
  display: table;
}

.timeline > li::after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 50%;
  float: left;
  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  box-shadow: 0 1px 6px rgb(0, 0, 0, 0.5);
}

.timeline > li.timeline-item-inverted > .timeline-panel {
  float: right;
}

.timeline > p {
  font-family: "Nunito-Regular";
  font-weight: 700;
}

.timeline > li:not(.timeline-item-inverted) {
  padding-right: 180px;
}

.timeline > li.timeline-item-inverted {
  padding-left: 180px;
}

.timeline > li > .timeline-badge {
  font-size: 1rem;
  color: white;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -50px;
  background-color: green;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

/* PARALLAX */
#parallax {
  text-align: center;
  background: url(../img/treesBackground.jpg) center repeat fixed;
  background-size: cover;
  color: white;
  height: 80%;
}

.section-parallax {
  padding: 10rem 0;
}

/* CARDS */
.section-cards {
  padding: 5rem 0;
}

.card {
  margin-top: 3rem;
}

.card img {
  width: 100%;
  height: 232px;
  transition: 0.5s;
}

.card img:hover {
  transform: scale(0.9);
  transition: 0.5s;
}

.card a {
  color: rgb(19, 128, 26, 0.5);
}

.card a:hover {
  color: rgb(19, 128, 26, 1);
}

/* Numbers */
.section-numbers {
  padding: 5rem 0;
  background-color: white;
}

.num {
  text-align: center;
  padding: 5rem 0;
}

.num-content {
  display: table;
  font-size: 20px;
  line-height: 20px;
  width: 140px;
  height: 140px;
  background-color: rgb(19, 128, 26, 1);
  border-radius: 100px;
  display: table-cell;
  vertical-align: middle;
  color: white;
  transition: 0.5s;
}

.num-content:hover {
  color: black;
  transition: 0.5s;
}

.num-content > .counter {
  font-weight: bolder;
}

.num-content > p {
  padding-top: 15px;
}

/* TESTIMONIALS */
.section-testimonials {
  padding: 5rem 0;
}

.testimonial {
  margin-top: 5rem;
  padding-bottom: 5rem;
}

.testimonial img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  transition: 0.5s;
}

.testimonial img:hover {
  transform: scale(0.9);
  transition: 0.5s;
}

.fa-quote-right {
  margin-right: 10px;
}

.testimonial-hr {
  border-top: 1px solid rgb(19, 128, 26, 1);
  background-color: rgb(19, 128, 26, 1);
  width: 200px;
}

/* CONTACT */
.section-contact {
  background-color: white;
  padding: 5rem 0;
}
#contact .form-horizontal {
  width: 100%;
  padding-top: 5rem;
}

#contact input,
#contact textarea {
  width: 100%;
  border-radius: 0.3rem;
}

#contact input:focus,
#contact textarea:focus {
  border-color: rgb(19, 128, 26, 1) !important;
  box-shadow: 0 1px 1px rgb(19, 128, 26, 0.5) insert,
    0 0 1px rgb(19, 128, 26, 0.5) !important;
  outline: 0 none !important;
}

/* FOOTER */
footer {
  background-color: black;
  padding-bottom: 10px;
  position: relative;
  text-align: center;
}

footer p {
  color: lightgrey;
  text-align: center;
  font-size: x-large;
  margin-top: 45px;
}

.social-links {
  list-style: none;
  float: right;
}

.social-links > li {
  display: inline-block;
  margin: 40px 30px 0 0;
  padding-right: 30px;
}

.social-links > li:last-child {
  margin-right: 0;
}

.social-links > li > a:link,
.social-links > li > a:visited {
  text-decoration: none;
  border: none;
  color: lightgray;
  font-size: x-large;
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
  transition: 0.5s;
}

.fa-facebook:hover {
  color: #3b5998;
  transition: 0.5s;
}

.fa-twitter:hover {
  color: #1da1f2;
  transition: 0.5s;
}

.fa-instagram:hover {
  color: #f58529;
  transition: 0.5s;
}

.fa-chevron-circle-up {
  margin-top: 40px;
  color: rgb(19, 128, 26, 1);
  transition: 0.5s;
}

.fa-chevron-circle-up:hover {
  color: rgb(19, 128, 26, 0.5);
  transition: 0.5s;
}

/* ANIMATIONS */

/* RESPONSIVENESS */
@media only screen and (max-width: 1280px) {
  .wall-sticker {
    padding: 5rem 18rem 5rem 3rem;
    font-size: 5rem;
  }
}

@media only screen and (max-width: 800px) {
  .social-links > li > a:link,
  .social-links > li > a:visited {
    font-size: smaller;
  }
}
